.animation-fade-up {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
	-webkit-animation: fade-up 0.5s ease-in-out normal forwards;
	animation: fade-up 0.5s ease-in-out normal forwards;
}

@-webkit-keyframes fade-up {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50px, 0);
		transform: translate3d(0, 50px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes fade-up {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50px, 0);
		transform: translate3d(0, 50px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

.animation-fade-down {
	opacity: 0;
	transform: translate3d(0, -50px, 0);
	-webkit-animation: fade-down 0.5s ease-in-out normal forwards;
	animation: fade-down 0.5s ease-in-out normal forwards;
}

@-webkit-keyframes fade-down {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -50px, 0);
		transform: translate3d(0, -50px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes fade-down {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -50px, 0);
		transform: translate3d(0, -50px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

.animation-scale-in {
	transform: scale(0);
	-webkit-animation: scale-in 0.5s ease-in-out normal forwards;
	animation: scale-in 0.5s ease-in-out normal forwards;
}

@-webkit-keyframes scale-in {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-in {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

$delays: 0, 50, 100, 150, 200, 250, 300, 350, 400, 500, 600, 700, 800, 900, 1000;

@each $value in $delays {
	.animation-delay-#{$value} {
		animation-delay: #{$value}ms;
	}
}
