/* FLEX */

.flex-row {
	flex-direction: row;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.flex-col {
	flex-direction: column;
}
.flex-col-reverse {
	flex-direction: column-reverse;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-1 {
	flex: 1 1 0%;
}
.flex-auto {
	flex: 1 1 auto;
}
.flex-initial {
	flex: 0 1 auto;
}
.flex-none {
	flex: none;
}
.grow {
	flex-grow: 1;
}
.grow-0 {
	flex-grow: 0;
}
.shrink {
	flex-shrink: 1;
}
.shrink-0 {
	flex-shrink: 0;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-evenly {
	justify-content: space-evenly;
}
.justify-items-start {
	justify-items: start;
}
.justify-items-end {
	justify-items: end;
}
.justify-items-center {
	justify-items: center;
}
.justify-items-stretch {
	justify-items: stretch;
}
.justify-self-auto {
	justify-self: auto;
}
.justify-self-start {
	justify-self: start;
}
.justify-self-end {
	justify-self: end;
}
.justify-self-center {
	justify-self: center;
}
.justify-self-stretch {
	justify-self: stretch;
}
.align-content-center {
	align-content: center;
}
.align-content-start {
	align-content: flex-start;
}
.align-content-end {
	align-content: flex-end;
}
.align-content-between {
	align-content: space-between;
}
.align-content-around {
	align-content: space-around;
}
.align-content-evenly {
	align-content: space-evenly;
}
.align-content-baseline {
	align-content: baseline;
}
.align-items-start {
	align-items: flex-start;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-center {
	align-items: center;
}
.align-items-baseline {
	align-items: baseline;
}
.align-items-stretch {
	align-items: stretch;
}
.align-self-auto {
	align-self: auto;
}
.align-self-start {
	align-self: flex-start;
}
.align-self-end {
	align-self: flex-end;
}
.align-self-center {
	align-self: center;
}
.align-self-stretch {
	align-self: stretch;
}
.align-self-baseline {
	align-self: baseline;
}
.place-content-center {
	place-content: center;
}
.place-content-start {
	place-content: start;
}
.place-content-end {
	place-content: end;
}
.place-content-between {
	place-content: space-between;
}
.place-content-around {
	place-content: space-around;
}
.place-content-evenly {
	place-content: space-evenly;
}
.place-content-baseline {
	place-content: baseline;
}
.place-content-stretch {
	place-content: stretch;
}
.place-items-start {
	place-items: start;
}
.place-items-end {
	place-items: end;
}
.place-items-center {
	place-items: center;
}
.place-items-baseline {
	place-items: baseline;
}
.place-items-stretch {
	place-items: stretch;
}
.place-self-auto {
	place-self: auto;
}
.place-self-start {
	place-self: start;
}
.place-self-end {
	place-self: end;
}
.place-self-center {
	place-self: center;
}
.place-self-stretch {
	place-self: stretch;
}

$gap-property-map: (
	"gap": gap,
	"gap-x": column-gap,
	"gap-y": row-gap,
);
$gap-sizes: 0, 4, 8, 12, 16, 20, 24, 28, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104,
	112, 120, 128, 144, 160, 176, 192, 208, 224, 240, 256, 272, 288, 304, 320, 336,
	352, 368, 384, 400;
$gap-unit: "px";

@each $class, $value in $gap-property-map {
	@each $size in $gap-sizes {
		.#{$class}-#{$size} {
			#{$value}: #{$size}#{$position-unit};
		}
	}
}
