$cm-primary: var(--cm-primary) !default;
$cm-secondary: var(--cm-secondary) !default;
$cm-success: var(--cm-success);
$cm-info: var(--cm-info) !default;
$cm-warning: var(--cm-warning) !default;
$cm-danger: var(--cm-danger) !default;
$cm-light: var(--cm-light) !default;
$cm-dark: var(--cm-dark) !default;

$cm-body-color: var(--cm-body-color) !default;
$cm-body-bg: var(--cm-body-bg) !default;

$cm-body-font-family: var(--cm-body-font-family) !default;
$cm-body-font-size: var(--cm-body-font-size) !default;
$cm-body-font-weight: var(--cm-body-font-weight) !default;
$cm-body-line-height: var(--cm-body-line-height) !default;

$cm-heading-font-weight: var(--cm-heading-font-weight) !default;
$cm-heading-line-height: var(--cm-heading-line-height) !default;

$cm-breakpoint-xs: 576px !default;
$cm-breakpoint-sm: 768px !default;
$cm-breakpoint-md: 992px !default;
$cm-breakpoint-lg: 1200px !default;
$cm-breakpoint-xl: 1600px !default;
