:root {
	--cm-primary: #0ff38f;
	--cm-secondary: #6c757d;
	--cm-success: #198754;
	--cm-info: #0dcaf0;
	--cm-warning: #ffc107;
	--cm-danger: #dc3545;
	--cm-light: #ffffff;
	--cm-dark: #06111e;

	--cm-body-color: #06111e;
	--cm-body-bg: #ffffff;

	--cm-body-font-family: "Roboto", sans-serif;
	--cm-body-font-size: 1rem;
	--cm-body-font-weight: 400;
	--cm-body-line-height: 1.5;

	--cm-heading-font-weight: 700;
	--cm-heading-line-height: 1.2;
}
